In [1]:
import pandas as pd

In [2]:
output = pd.read_excel("output_28_11.xlsx", index_col=0)

In [3]:
output[output.PALLETE_HEIGHT_FACT == 10]

Empty DataFrame
Columns: [INVOICE_ID, PALLET_NO, PALLET_HEIGHT, PALLETE_HEIGHT_FACT]
Index: []

In [4]:
output = output.drop(output[output.PALLETE_HEIGHT_FACT == 10].index)

In [5]:
output.describe()

         INVOICE_ID   PALLET_NO  PALLET_HEIGHT  PALLETE_HEIGHT_FACT
count  1.140000e+02  114.000000     114.000000           114.000000
mean   2.949528e+06    1.043860     826.675439           820.350877
std    1.091112e+04    0.205687     400.026470           407.886697
min    2.920637e+06    1.000000     400.000000           300.000000
25%    2.943114e+06    1.000000     500.000000           500.000000
50%    2.948604e+06    1.000000     750.000000           700.000000
75%    2.959012e+06    1.000000    1088.750000          1100.000000
max    2.964908e+06    2.000000    1870.000000          1900.000000

In [6]:
compare_results = output

In [7]:
compare_results.head(10)

    INVOICE_ID  PALLET_NO  PALLET_HEIGHT  PALLETE_HEIGHT_FACT
0      2964908          1            500                  500
2      2964893          1            650                  450
3      2964888          1            490                  500
6      2964232          1            400                  300
7      2964227          1            740                  650
10     2963775          1            500                  500
13     2962845          1            400                  350
14     2962622          1           1170                 1100
16     2962617          1            400                  300
17     2962612          1            840                  850

In [8]:
difference = compare_results.copy()
difference["DIF"] = abs(difference["PALLETE_HEIGHT_FACT"] - difference["PALLET_HEIGHT"])

In [9]:
difference.describe()

,INVOICE_ID,PALLET_NO,PALLET_HEIGHT,PALLETE_HEIGHT_FACT,DIF
count,1.140000e+02,114.000000,114.000000,114.000000,114.000000
mean,2.949528e+06,1.043860,826.675439,820.350877,70.307018
std,1.091112e+04,0.205687,400.026470,407.886697,82.997081
min,2.920637e+06,1.000000,400.000000,300.000000,0.000000
25%,2.943114e+06,1.000000,500.000000,500.000000,10.000000
50%,2.948604e+06,1.000000,750.000000,700.000000,45.000000
75%,2.959012e+06,1.000000,1088.750000,1100.000000,100.000000
max,2.964908e+06,2.000000,1870.000000,1900.000000,400.000000

In [10]:
from IPython.display import display
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    display(difference.sort_values(by=['DIF'], ascending=False))

     INVOICE_ID  PALLET_NO  PALLET_HEIGHT  PALLETE_HEIGHT_FACT  DIF
270     2942363          1           1000                 1400  400
201     2945690          1           1538                 1850  312
134     2954494          1            400                  700  300
296     2937212          1            995                  700  295
283     2941032          1           1085                  800  285
89      2954680          1           1000                  750  250
44      2962450          1           1530                 1300  230
344     2936907          1           1180                 1400  220
257     2945424          1           1000                  800  200
65      2962364          1            750                  550  200
237     2945533          1            500                  700  200
2       2964893          1            650                  450  200
278     2941250          1           1080                  900  180
69      2959039          1           1340                 1500  160
57      2962389          1           1860                 1700  160
361     2929810          1           1090                  930  160
97      2954632          1            650                  500  150
330     2936997          1            750                  900  150
265     2945394          1            400                  550  150
339     2936927          1            750                  900  150
43      2962450          2            900                  750  150
38      2962465          2            840                  700  140
112     2954597          1            740                  600  140
149     2954469          1            830                  700  130
183     2947596          1           1520                 1400  120
73      2958930          1            613                  500  113
159     2954404          1            490                  600  110
287     2940196          1            500                  400  100
311     2937070          1            400                  500  100
6       2964232          1            400                  300  100
234     2945548          1            500                  400  100
249     2945449          1           1000                 1100  100
16      2962617          1            400                  300  100
319     2937060          1            500                  600  100
222     2945645          1            500                  600  100
30      2962524          1            400                  300  100
307     2937110          1            740                  650   90
7       2964227          1            740                  650   90
140     2954484          1           1870                 1800   70
180     2947606          1            400                  470   70
162     2954399          1            830                  900   70
14      2962622          1           1170                 1100   70
191     2946702          1            840                  900   60
300     2937203          1            840                  900   60
136     2954489          1           1340                 1400   60
145     2954479          1            840                  900   60
100     2954622          1           1245                 1300   55
268     2945365          1            400                  450   50
206     2945685          2           1000                 1050   50
167     2949209          1            400                  450   50
188     2947470          1            400                  450   50
253     2945444          1            750                  700   50
117     2954582          1            500                  550   50
274     2941782          1            500                  550   50
22      2962544          1           1000                  950   50
21      2962594          1            400                  350   50
13      2962845          1            400                  350   50
248     2945508          1           1510                 1550   40
166     2949223          1            490                  450   40
209     2945685          1           1860                 1900   40
247     2945508          2           1510                 1550   40
36      2962499          1            490                  450   40
51      2962394          1           1340                 1300   40
218     2945655          1            830                  800   30
231     2945578          1           1170                 1200   30
26      2962529          1           1180                 1150   30
261     2945414          1           1520                 1550   30
175     2947611          1           1770                 1800   30
243     2945518          1           1170                 1200   30
371     2920637          2            885                  860   25
226     2945625          1            490                  500   10
372     2920637          1           1530                 1520   10
213     2945670          1           1090                 1100   10
83      2956968          1            840                  850   10
3       2964888          1            490                  500   10
17      2962612          1            840                  850   10
365     2929795          1            840                  830   10
42      2962465          1           1510                 1500   10
357     2929830          1           1090                 1100   10
355     2929840          1            830                  840   10
350     2931110          1           1180                 1170   10
98      2954627          1           1190                 1200   10
121     2954552          1           1090                 1100   10
324     2937012          1           1340                 1350   10
153     2954419          1           1690                 1700   10
293     2938520          1            490                  500   10
349     2931570          1            400                  400    0
314     2937065          1            500                  500    0
354     2929859          1            400                  400    0
336     2936942          1            500                  500    0
304     2937159          1            400                  400    0
368     2929790          1            750                  750    0
0       2964908          1            500                  500    0
290     2938536          1            400                  400    0
78      2957099          1            500                  500    0
10      2963775          1            500                  500    0
31      2962514          1            650                  650    0
34      2962509          1            650                  650    0
48      2962445          1            650                  650    0
60      2962374          1            500                  500    0
63      2962369          1            500                  500    0
67      2962339          1            400                  400    0
77      2958681          1            400                  400    0
86      2956549          1            500                  500    0
244     2945513          1            900                  900    0
93      2954664          1            500                  500    0
103     2954617          1            500                  500    0
107     2954602          1           1000                 1000    0
125     2954547          1            400                  400    0
129     2954507          1            750                  750    0
168     2948621          1            750                  750    0
196     2945748          1            400                  400    0
197     2945725          1            500                  500    0
172     2948588          1            500                  500    0

In [11]:
difference.sort_values(by=['DIF'], ascending=False)

     INVOICE_ID  PALLET_NO  PALLET_HEIGHT  PALLETE_HEIGHT_FACT  DIF
270     2942363          1           1000                 1400  400
201     2945690          1           1538                 1850  312
134     2954494          1            400                  700  300
296     2937212          1            995                  700  295
283     2941032          1           1085                  800  285
..          ...        ...            ...                  ...  ...
129     2954507          1            750                  750    0
168     2948621          1            750                  750    0
196     2945748          1            400                  400    0
197     2945725          1            500                  500    0
172     2948588          1            500                  500    0

[114 rows x 5 columns]

In [13]:
difference[difference["DIF"] > 150].DIF.count()

16

In [14]:
difference[difference["DIF"] == 0].DIF.count()

28